<KoenigCard
    @icon="koenig/card-indicator-math"
    @class={{concat (kg-style "container-card") " mih10 miw-100 relative"}}
    @headerOffset={{this.headerOffset}}
    @toolbar={{this.toolbar}}
    @payload={{this.payload}}
    @isSelected={{this.isSelected}}
    @isEditing={{this.isEditing}}
    @selectCard={{action this.selectCard}}
    @deselectCard={{action this.deselectCard}}
    @editCard={{action this.editCard}}
    @saveCard={{action this.saveCard}}
    @onLeaveEdit={{action "leaveEditMode"}}
    @editor={{this.editor}}
>
    {{#if this.isEditing}}
        <GhCmEditor @value={{this.payload.math}}
            @class="koenig-card-html--editor"
            @autofocus={{true}}
            @lineWrapping={{true}}
            @update={{action "updateMath"}}
        />
    {{else}}
        <div class="{{if isError "koenig-card-math-rendered koenig-card-math-error" "koenig-card-math-rendered" }}">{{{this.rendered}}}</div>
        <div class="koenig-card-click-overlay"></div>
    {{/if}}
</KoenigCard>